---
import BaseLayout from '../layouts/BaseLayout.astro';
import Grid from '../components/Grid.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Walter Melendez" description="About Walter Melendez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="800"
					height="600"
					src="/assets/retrato.jpeg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a passionate coder and dedicated student, 
						always eager to learn and ready to contribute my skills wherever needed. 
						With a strong entrepreneurial spirit, I actively engage in working with startups and established enterprises alike, 
						bringing a focus on productivity and efficiency to every project. Whether collaborating in a team or leading initiatives, 
						I strive to deliver innovative solutions and drive meaningful results through technology and smart work.

					</p>
					<br>
					<p>
						I have a deep curiosity and passion for exploring all kinds of technology. 
						Whether it’s software development, artificial intelligence, cloud computing, 
						or emerging tech trends, I’m always eager to expand my knowledge and stay up-to-date with the latest innovations.
						 This broad interest fuels my continuous learning and helps me adapt quickly to new challenges and opportunities in the tech world.
					</p>
					<br>
					<p>
						I see myself in the near future leading and developing cutting-edge tech projects,
						 driving innovation, and making a real impact in the technology world. With a strong foundation in coding, 
						 a passion for continuous learning, and experience in both startups and enterprises, I’m preparing to take on roles where I can lead teams,
						solve real-world problems, and help shape the future through technology.
					</p>
					
			
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content ">
					<p>some of my last courses
						if you would like to know more about me click <a href="https://www.linkedin.com/in/walter-cortez-25536a326/">here to contact me</a>

					</p>
					<img src="/public/assets/samsung.png" 
					width="500"
					height="200"
					 alt=""
					 >
					<img src="/public/assets/sids.jpg"  alt=""
					width="500"
					height="200"
					>
					<img src="/public/assets/english.png" alt=""
					width="500"
					height="200">
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Technical Skills:
						Python Programming,Web Development (HTML, CSS, React, Next.js, Astro),AI & Machine Learning (Beginner to Intermediate level),Cloud Computing Concepts,Responsive Design.</p>
						<br>
					<p>
						Soft & Professional Skills: Strategic Thinking, Leadership & Team Management, Entrepreneurial Mindset, Problem-Solving,Communication & Collaboration, Creativity & Innovation, Public Speaking & Presentations,Cross-Cultural Teamwork.

					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
